<?php

use Wigwam\HTTP;
use Wigwam\Test\App;

//===========================================================================//
// CLASSLOADER INITIALIZATION                                                //
//===========================================================================//

require 'classes/Wigwam/ClassLoader.php';

//===========================================================================//
// CONFIGURE APPLICATION/HTTP WRAPPER AND HANDLE REQUEST                     //
//===========================================================================//

/**
 * Main function to encapsulate any local variables.
 */
function main() {

  // Create new HTTP wrapper instance.
  $http = new HTTP($config_files);

  // Load the application API into the HTTP wrapper.
  $http->addApi(new App());

  // Delegate to the HTTP wrapper.
  $http->run();
}

// Doit.
main();
